[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/openal-soft"]
	path = External/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "External/JoltPhysics"]
	path = External/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
